.header{
    text-align: center;
}
.header img {
    height: 80px;
}
nav{
    background-color: black;
    padding: 10px 0;
    font-size: 17px;
}
nav a{
    text-decoration: none;
    color: white;
    margin-right: 15px;
    padding: 8px 13px;
}
nav a:hover{
    background-color: gray;
}